footer {
	  position: absolute;
	  height: 50px;
	  left: 0;
	  bottom: 0;
	  width:100%;
      background-color: #f2f2f2;
      padding: 25px;


    }

header {
	  position: fixed;
	  z-index:1; 
	  width:100%;
      background-color: #3FA4C4;
      padding: 10px;
      padding-left: 5px;
      padding-right: 5px;
      height: 70px;
    }
.sidenav{
	position: fixed;
	
	padding-top: 100px;
}
.tableView{
	
	
	padding-top: 100px;
	z-index: 2;
	
}
 .error{
 	color: #ff0000;
 }

 .logo{
 	float: right;
 	position: relative;
 	bottom:80px;
 	
 }

 .headtext{
 	text-align: center;
 	position:relative;
 	bottom:20px;
 }

 body{
 	background-color:white;
 }